<!DOCTYPE html>
<html lang="ru">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const socket = io();

        function changeService(arg)
        {
            socket.emit('serviceChange', arg)
            console.log(arg)
        }

        function updateService(arg)
        {
          socket.emit('serviceUpdate', arg)
          console.log(arg)
        }

        function restartService(arg)
        {
          socket.emit('serviceRestart', arg)
          console.log(arg)
        }
    </script>
  </head>
</html>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Система</a>
              <a class="nav-link" aria-current="page" href="#">Сервисы</a>
            </ul>
          </div>
        </div>
    </nav>

    {% for service in services %}
    <div class="container-sm">
      <div class="row mt-2">
        <div class="col-2">
          <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="{{service.title}}" onChange="changeService('{{service.title}}')" {{service.isChecked}}>
              <label class="form-check-label" for="flexSwitchCheckChecked">{{service.title}}</label>
          </div>
        </div>
        <div class="col-2">
          <button class="btn btn-warning" onclick="updateService('{{service.title}}')">Получить обновления</a>
        </div>
        <div class="col-1">
          <button class="btn btn-danger" onclick="restartService('{{service.title}}')">Перезапустить</a>
        </div>
      </div>
    </div>
    {% endfor %}
</body>